In [13]:
import tensorflow as tf
import numpy as np
import keras
import os
import pandas as pd

In [14]:
monks1_train_path = os.getcwd() + '/../../data/monks/monks-1.train'
monks1_train = pd.read_csv(filepath_or_buffer=monks1_train_path, delimiter=' ')
monks1_train

     Unnamed: 0  1  1.1  1.2  1.3  1.4  3  1.5    data_5
0           NaN  1    1    1    1    1  3    2    data_6
1           NaN  1    1    1    1    3  2    1   data_19
2           NaN  1    1    1    1    3  3    2   data_22
3           NaN  1    1    1    2    1  2    1   data_27
4           NaN  1    1    1    2    1  2    2   data_28
..          ... ..  ...  ...  ...  ... ..  ...       ...
118         NaN  1    3    3    2    1  4    2  data_416
119         NaN  1    3    3    2    3  1    2  data_426
120         NaN  1    3    3    2    3  2    2  data_428
121         NaN  1    3    3    2    3  3    2  data_430
122         NaN  1    3    3    2    3  4    2  data_432

[123 rows x 9 columns]