In [37]:
import tensorflow
import numpy as np 
import pandas as pd
import os
import keras

### Loading data

In [38]:
# Assuming 'monks1_train_path' is the path to your data file
monks1_train_path = os.getcwd() + '/../../data/monks/monks-1.train'

# Specify the column names or let pandas infer them
column_names = ['target', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'id']

# Load the data into a pandas DataFrame
df = pd.read_csv(monks1_train_path, names=column_names, delimiter=' ')

# Display the loaded data
df

     target  col1  col2  col3  col4  col5  col6        id
NaN       1     1     1     1     1     3     1    data_5
NaN       1     1     1     1     1     3     2    data_6
NaN       1     1     1     1     3     2     1   data_19
NaN       1     1     1     1     3     3     2   data_22
NaN       1     1     1     2     1     2     1   data_27
..      ...   ...   ...   ...   ...   ...   ...       ...
NaN       1     3     3     2     1     4     2  data_416
NaN       1     3     3     2     3     1     2  data_426
NaN       1     3     3     2     3     2     2  data_428
NaN       1     3     3     2     3     3     2  data_430
NaN       1     3     3     2     3     4     2  data_432

[124 rows x 8 columns]